<!-- Top nav bar (fixed) -->
<nav id="nav-bar">
  <h1><a class="site-title" href="/">votr.</a></h1>
  <section class="nav-brand">
    <!-- <a href="/"><img class="logo" src="/images/logo.png"></a> -->
    <div class="site-function">make a poll.</div>
    <div class="site-function">share with friends.</div>
    <!-- <a href="/"><img class="logo" src="/images/logo.png"></a> -->
    <span class="slogan"></span>
  </section>
</nav>
