<!-- Top nav bar (fixed) -->
<nav id="nav-bar">
  <section class="nav-brand">
    <!-- <a href="/"><img class="logo" src="/images/logo.png"></a> -->
    <h1>consensual.</h1>
    <!-- <a href="/"><img class="logo" src="/images/logo.png"></a> -->
    <span class="slogan"></span>
  </section>
</nav>
