<!-- Top nav bar (fixed) -->
<nav id="nav-bar">
  <section class="nav-brand">
    <a href="/"><img class="logo" src="/images/logo.png"></a>
    <span class="slogan">Feeling indecisive? Try 1-800-VOTR!</span>
  </section>
</nav>
