<h1>People Voted:</h1>
<section class="voted-list">
  <ul>
    <li class="voter">
      <span class="voter-name">Anna</span>
      <a href="#">See their votes</a>
    </li>

    <li class="voter">
      <span class="voter-name">Paul</span>
      <a href="#">See their votes</a>
    </li>
  </ul>
</section>