<h1>People Voted:</h1>
<section class="voted-list">
  <ul>
    <li class="voter">
      <% resultVoter.forEach((voter) => { %>
        <span><%= voter.name %></span>
      <% }); %> 
      <a href="#">See their votes</a>
    </li>
  </ul>
</section>
