<h2>Voters</h2>
<section class="voted-list">
  <ul class="voter">
      <% resultVoter.forEach((voter) => { %>
        <li class="each-voter">
          <span><%= voter.name %></span>
<!--           <a href="#">See their votes</a>
 -->       </li>
      <% }); %>
  </ul>
</section>
