<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Oops</title>
    <%- include('partials/_head')%>
  </head>

  <body>
    <%- include('partials/_nav')%>
    <section class="container">
      <section class="poll-error">
        <h1>Uh oh!</h1>
        <div class="status-message">
          <p>Looks like you already voted!!</p>
        </div>
        <a href="#">Create your own poll here!</a>
      </section>
    </section>

  </body>
</html>