<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Votr App</title>
    <%- include('partials/_head')%>

    <script type="text/javascript" src="/scripts/test-app.js"></script>

  </head>

  <body>
    <%- include('partials/_nav')%>
    <section class="container-fluid index">
        <section class="create-poll">
          <form id="new-poll" action="/" method="POST">
            <article class="form-group" >
              <label for="email">Email:</label>
              <input type="email" name="a_email" class="user-email-input form-control">
            </article>
            <article class="form-group">
              <label for="title">Poll Title:</label>
              <input type="text" name="title" class="poll-title-input form-control">
            </article>
            <article class="form-group">
              <label for="poll_description">Poll Description:</label>
              <textarea type="text" name="description" class="poll-description-input form-control" rows="3"></textarea>
            </article>
            <!--Choices: 2 predefined-->
          <div class="choice-container">
            <article class="form-group choice-form-group">
              <label for="choice">Choice: </label>
              <div class="choice-inputs">
                <input type="text" name="choice" class="form-control">
                <span class="delete-choice"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
              </div>
              <small class="describe-expand" class="form-text text-muted"><p>Expand Description</p></small>
              <div class="choice-describe">
                <label for="choice-description">Description:</label>
                <textarea type="text" name="choice_description" class="form-control" rows="3"></textarea>
              </div>
            </article>
            <article class="form-group choice-form-group">
              <label for="choice">Choice: </label>
              <div class="choice-inputs">
                <input type="text" name="choice" class="form-control">
                <span class="delete-choice"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
              </div>
              <small class="describe-expand" class="form-text text-muted"><p>Expand Description</p></small>
              <div class="choice-describe">
                <label for="choice-description">Description:</label>
                <textarea type="text" name="choice_description" class="form-control" rows="3"></textarea>
              </div>
            </article>
          </div>
            <!--TODO: Choices: Render added choices-->

            <div class="choice-container-created"></div>
            <!--Add choices-->
            <span class="add-choice"><i class="fa fa-plus" aria-hidden="true"></i></span>
            <div class="clear"></div>

            <section class="email-section">
              <span>Send email to: </span>
                <section class="email-container">
                  <article class="email-form-group form-inline">
                    <label for="v-email form-control-label">Email:</label>
                    <input type="email" name="v_email" class="form-control email-input">
                    <span class="delete-email-input"><i class="fa fa-times" aria-hidden="true"></i></span>
                  </article>
                </section>
                <span class="add-email-input"><i class="fa fa-plus" aria-hidden="true"></i></span>
                <div class="clear"></div>
              </section>

            <section class="create-poll-actions">
              <button type="button" class="add-emails btn btn-outline-success">Add emails</button>
              <button type="submit" class="btn btn-primary">Create Poll</button>
            </section>

          </form>

        </section>

    </section>
  </body>
</html>
