<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <%- include('partials/_head')%>
  </head>

  <body>
    <!-- include _nav.ejs -->
    <section id="container">
      <section class="create-poll">
        <form action="/" method="POST">
          <article class="form-group" >
            <label for="email">Email:</label>
            <input type="text" name="email" class="form-control">
          </article>
          <article class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title" class="form-control">
          </article>
            <article class="form-group">
            <label for="poll-description">Description:</label>
            <textarea type="text" name="poll-description" class="form-control" rows="3"></textarea>
          </article>
          <!--Choices -->
          <article class="form-group">
            <label for="email">Choice 1:</label>
            <input type="text" name="description" class="form-control">
            <small id="describe-expand" class="form-text text-muted"><a href="#">Expand description box</a></small>
            <div class="choice-describe">
              <label for="choice-description">Description:</label>
              <textarea type="text" name="choice-description" class="form-control" rows="3"></textarea>
            </div>
          </article> 
          <article class="form-group">
            <label for="email">Choice 2:</label>
            <input type="text" name="description" class="form-control">
            <small id="describe-expand" class="form-text text-muted"><a href="#">Expand description box</a></small>
            <div class="choice-describe">
              <label for="choice-description">Description:</label>
              <textarea type="text" name="choice-description" class="form-control" rows="3"></textarea>
            </div>
          </article>    
        </form>
      </section>
  </section>
  </body>
</html>
