<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">

    <!-- Layout CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External Font -->
    <!-- Glyphs -->
    <script src="https://use.fontawesome.com/155465b6a9.js"></script>

    <!-- App CSS -->

    <!-- REMOVE TEST.CSS-->
    <link rel="stylesheet" href="/styles/test.css" type="text/css" />

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- TEST CSS/JS partial -->
    <%- include('partials/_test')%>

  </head>

  <body>
    <%- include('partials/_nav')%>
    <section class="container">
      <section class="vote col-md-8">
        <!-- TODO: Display title FROM 'polls'-->
        <h1 class="poll-title">What to do on Saturday Night?</h1>
     
        <section class="poll-choices">
          <!-- TODO: Display all choices FROM 'choices' WHERE poll_id = id-->
          <ul class="choices-list sortable">
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1<span class="choice-info-button"><i class="fa fa-info-circle" aria-hidden="true"></i></span></li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
          </ul>
        </section>
    </section>
  </body>
</html>