<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">

    <!-- Layout CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External Font -->
    <!-- Glyphs -->
    <script src="https://use.fontawesome.com/155465b6a9.js"></script>

    <!-- App CSS -->

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- Draggable jQuery UI functions-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- TEST CSS/JS partial -->
    <%- include('partials/_test')%>

  </head>

  <body>
    <%- include('partials/_nav')%>
    <section class="container">
      <section class="vote col-md-8">
        <!-- TODO: Display title FROM 'polls'-->
        <h1 class="poll-title">What to do on Saturday Night?</h1>
     
        <section class="poll-choices">
          <!-- TODO: Display all choices FROM 'choices' WHERE poll_id = id-->
          <ul class="choices-list sortable">
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
          </ul>
        </section>

        <section class="choice-info-block col-md-2">
          <h2>party at my place</h2>
          <p>There's unlimited juice? This party is gonna be off the hook. 
            No, Pop-pop does not get a treat. I just bought you a f**king pizza. Mr. Zuckerkorn, you've been warned about touching. 
            Barry: You said spanking.</p>
        </section>
    </section>
  </body>
</html>