<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Votr App</title>
    <%- include('partials/_head')%>
  </head>

  <body>
    <%- include('partials/_nav')%>
    <section class="container">
      <section class="poll-success">
        <h1>Success!</h1>
        <div class="status-message">
          <p>Links sent to 123@abc.com!</p>
        </div>
        <p>Admin Link: <a href="#">http://localhost:8080/a/12345</a></p>
        <p>Visitor Link: <a href="#">http://localhost:8080/v/67890</a></p>
        <a href="#">Create another new poll</a>
      </section>
      
    </section>

  </body>
</html>