#nav-bar {
  @include full-width;
  background-color: #6CC6B0;
  display: flex;
  justify-content: space-between;
  height: 150px;
  padding: 2em 3em;
  position: fixed;
  top: 0;
  z-index: 1;

  .nav-brand {
    font-family: $brand-font;
    letter-spacing: 0.5px;
    padding-top: 40px;
    span {
      font : {
        family: $brand-font;
        size: 2em;
      }
      position: relative;
      padding-left: 10px;

    }

    img {
      height: 100px;
      width: 100px;
    }

    div {
      color: white;
    }

    .site-function {
      font-size: 24px;
      text-align: right;

    }
  }

  .site-title {
    color: white;
    font-size: 75px;
    &:hover {
      color: darken($brand-color, 20%);
      text-decoration: none;

    }
  }
}
