#nav-bar {
  @include full-width;
  background-color: #6CC6B0;
  color: $brand-color-turquoise;
  display: flex;
  justify-content: space-between;
  height: 150px;
  padding: $lr-pad;
  position: fixed;
  top: 0;
  z-index: 1;

  .nav-brand {

    padding-top: 70px;
    span {
      font : {
        family: $brand-font;
        size: 2em;
      }
      position: relative;
      padding-left: 10px;

    }

    img {
      height: 100px;
      width: 100px;
    }

    div {
      color: white;
    }

    .site-function {
      font-size: 17px;
      text-align: right;

    }
  }

  h1 {
    font-size: 75px;
    color: white;
  }
}
