// === FONTS ===
$brand-font: 'Oswald', sans-serif;;
$content-font: 'Lato', sans-serif;

// === COLORS ===
$brand-color: #6CC6B0;
$brand-color-darken: #55b98f;
$dark-gray: #616161;
$dark-green: #236b24;
$dark-red: #E25E24;

$choice-color-green: #87C340;
$choice-color-turquoise: #6CC6B0;
$choice-color-blue: #4AC0EA;
$choice-color-yellow: #F5B11A;

$header-color: #474747;
$content-color: #383838;
$gray-bg: #EEEEEE;
$generic-gray: #C6C5C5;
$compose-bg: #e0efec;

// === LAYOUT ===
// $border: 0.5px solid #c0c0c0;
// $default-pad: 2em;
$lr-pad: 0 2em;
