// === FONTS ===
$brand-font: 'Oswald', sans-serif;;
$content-font: 'Lato', sans-serif;

// === COLORS ===
$brand-color-red: #E25E24;
$brand-color-green: #87C340;
$brand-color-turquoise: #6CC6B0;
$brand-color-blue: #4AC0EA;
$brand-color-yellow: #F5B11A;

$header-color: #474747;
$content-color: #4a4a4a;

$brand-color: #00A087;
$brand-font-color: #e8fdff;
$title-color: #657E84;
$content-color: #244751;
$gray-bg: #EEEEEE;
$generic-gray: #D3D3D3;
$compose-bg: #e0efec;

// === LAYOUT ===
$border: 0.5px solid #c0c0c0;
$default-pad: 2em;
$lr-pad: 0 2em;