.add-choice {
  color: $brand-color-blue;
  float: right;
  font-size: 1.5em;
  &:hover {
    
  }
}

.delete-choice {
  color: $brand-color-red;
  padding-left:5px;
}

.choice-inputs {
  display: flex;
}

.choice-describe {
  display: none;
}

.index {
  background-color: lighten($brand-color-yellow, 10%);
}
.create-poll {
  background-color: $gray-bg;
  margin: 0 auto;
  padding: 50px;
  width: 500px;
}

.create-poll-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;

  .btn {
    margin-left: 5px;
  }
}

.describe-expand {
  color: darken($brand-color-blue, 10%);
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: darken($brand-color-blue, 20%);
  }
}

