body.dragging, body.dragging * {
  cursor: move !important;
}

.choice {
  @include border-radius(2px);
  background-color: lighten($brand-color-yellow, 30%);
  cursor: move;
  padding: 10px;
  &:nth-child(even) {
    background: lighten($brand-color-green, 30%);
  }
  &:hover{
    background-color: darken(white, 10%);;
  }
}

.choice-info-block {
  @include border-radius(10px 0 0 10px);
  background-color: #fff;
  background-color: lighten(rgba(255,255,255,0.5), 50%);
  margin-left: 16%;
  padding: 30px;
  display: none;

  h2 {
    color: $header-color;
    font : {
      family: $brand-font;
      size: 2em;
    }
  }

  p {
    color: $content-color;
    font : {
      family: $content-font;
      size: 1.2em;
    }
    padding-top: 8px;
  }
}

.choices-list {
  padding: 20px;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.inline-vote {
  display: flex;
  justify-content: space-between;

  button {
    margin-left: 5px;
  }
}

ol.choices-list li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.choices-list li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

.name-input-box {
  margin: 0;
  width: 20em;
}

.poll-info {
  @include poll-lr-padding;
}

.poll-submit {
   @include poll-lr-padding;
}

.poll-title {
  color: $brand-color-red;
  font : {
    family: $brand-font;
    size: 2em;
  }
}

.poll-vote-page {
  background-color: $brand-color-turquoise;
  height: 100%;
}

.vote {
  @include border-radius(10px);
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  margin: 0 auto;
  padding: 30px;
  position: absolute;
  overflow: hidden;

  button {
    border: none;
    float: right;
  }
}

.vote-content {
  padding-left: 20px;
}

.voter-info {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.vote-btn {
  margin-right: 25px;
  margin-bottom: 10px;
}

.thumbs {
  font-size: 25px;
}

.poll-id {
  display: none;
}

.poll-title {
  padding-bottom: 50px;
}

